# JVM crash related
core.*
hs_err_pid*
replay_pid*

# IntelliJ
/.idea/*
!.idea/runConfigurations
!.idea/icon.svg
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/
nbactions.xml

# Gradle
.gradle/
build/
*/build/

# Maven/legacy build output
build.xml
log/
target/
dependency-reduced-pom.xml
bin/
dist/
manifest.mf

# OS/editor
.DS_Store/
.DS_Store
.*.sw[a-p]
*~

# Plaza/Paperweight generated sources
/run
/paper-api
/paper-server
/plaza-api/build.gradle.kts
/plaza-server/build.gradle.kts
/plaza-server/src/minecraft
*.jar
!gradle/wrapper/gradle-wrapper.jar
test-plugin.settings.gradle.kts
